#owen_Photos {
  max-width:1000px;
  max-height:100%;
  margin:auto;
}

#photos_Button{

  margin-top:10px;

}

#code_Button{

    margin-top:10px;
    margin-bottom:40px;

}

#header{

  font-family: "Courier","Arial";
  font-weight: bold;
  margin-top:40px;
  margin-bottom:20px;

}

#navbar_Name{

  font-family: "Helvetica","Arial";
  font-weight: lighter;

}

#section_Split{

  margin-top: 60px;
  margin-bottom: 40px;

  font-family: Courier,Helvetica,Arial;

}

hr.style18 {
  height: 30px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr.style18:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
